{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ product.pictureUrl }}" alt="{{ "Photo de " ~ product.name }}" style="width: 300px; height: auto;">
        <p>{{ "Nom : " ~ product.name }}</p>
        <p>{{ "Prix : " ~ product.price ~ "€" }}</p>
    </div>
{% endblock %}
