{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {% set collection = product.collection %}
    <div>
        <img src="{{ product.pictureUrl }}" alt="{{ "Photo de " ~ product.name }}" style="width: 300px; height: auto;">
        <p>{{ "Nom : " ~ product.name }}</p>
        <p>{{ "Prix : " ~ price_format(product.price) }}</p>
        <p>{{ "SKU : " ~ product.sku }}</p>
        <p>Ce produit appartient à la collection :</p>
        <a href="{{ path('collection', {'slug': collection.slug}) }}">
            <p>- {{ collection.name }}</p>
            <img src="{{ collection.pictureUrl }}" alt="{{ "Photo de " ~ collection.name }}" style="width: 100px; height: auto;" />
        </a>
        <button id="add-to-cart">Add to cart</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#add-to-cart').click(function() {
                $.post('{{ path('add_cart_json') }}', {
                    product_id: {{ product.id }},
                    quantity: 1
                })
            });
        });
    </script>
{% endblock %}