{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {% set collection = product.collection %}
    <div>
        <img src="{{ product.pictureUrl }}" alt="{{ "Photo de " ~ product.name }}" style="width: 300px; height: auto;">
        <p>{{ "Nom : " ~ product.name }}</p>
        <p>{{ "Prix : " ~ price_format(product.price) }}</p>
        <p>{{ "SKU : " ~ product.sku }}</p>
        <p>Ce produit appartient à la collection :</p>
        <a href="{{ path('collection', {'slug': collection.slug}) }}">
            <p>- {{ collection.name }}</p>
            <img src="{{ collection.pictureUrl }}" alt="{{ "Photo de " ~ collection.name }}" style="width: 100px; height: auto;" />
        </a>
        <button id="add-to-cart">Add to cart</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#add-to-cart').click(function() {
                $.post('{{ path('add_cart_json') }}', {
                    product_id: {{ product.id }},
                    quantity: 1
                });
                setTimeout(function(){
                    $.get("{{ path('cart_json') }}", function(data){
                        let lastProductUrl = '{{ path("product", {'slug': 'lastProductSlug'}) }}';
                        lastProductUrl = lastProductUrl.replace("lastProductSlug", data.lastProductAdded.slug);
                        $('.cartTotal').html(data.newTotal + " €");
                        $('.cartTotalProducts').html(data.newTotalProducts);
                        $('.cartAllProducts').append("" +
                            "<li class='header-cart-item'>" +
                                "<div class='header-cart-item-img'>" +
                                    "<img src='" + data.lastProductAdded.pictureUrl + "' alt='Photo de " + data.lastProductAdded.name +"'/>" +
                                "</div>" +
                                "<div class='header-cart-item-txt'>" +
                                    "<a href='" + lastProductUrl + "' class='header-cart-item-name'>" + data.lastProductAdded.name + "</a>" +
                                    "<span class='header-cart-item-info'>1 x " + data.lastProductAdded.price + "€</span>" +
                                "</div>" +
                            "</li>");
                    });
                }, 1000);
            });
        });
    </script>
{% endblock %}