{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    <div class="row container">
        <h1>Welcome to your profile {{ user.firstName ~ " " ~ user.lastName }}</h1>
        <div>
            <p>Here you can find a list of the products : <a href="{{ path('product_index') }}">Products</a></p>
            <p>Here you can find a list of the orders : <a href="{{ path('orders_list') }}">Orders</a></p>
            <p>Here you can find a list of the users : <a href="{{ path('user_index') }}">Users</a></p>
            <p>Here you can find your data (address, orders I've made) : <a href="{{ path('admin_data') }}">My data</a></p>
        </div>
    </div>
{% endblock %}
